@{
  ViewBag.Title = "AddToDb";
}
<div class="container-fluid a_block">
  <div class="row align-items-center no-gutters">

    <div class="container">
      <div class="row justify-content-center">
        <div class="col p-3 h4" id="toMain"><a href="/Home/Index">На главную</a></div>
        <div class="col p-2 h3">Добавить в БД</div>
      </div>
    </div>
    <div class="container">
      @*@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { runat="server", DefaultButton="ChckBttn" })) {*@
      @using (Html.BeginForm("AddToDb", "Home", FormMethod.Post)) {
        <div class="row pt-3 border rounded">
          <div class="col-12">
            <div class="row">
              <div class="dropdown  btn-block mx-3">
                <button class="btn btn-block btn_my dropdown-toggle" type="submit" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@ViewBag.Subject</button>
                <div class="dropdown-menu dropdown_my" id="dropDownMenuDB" aria-labelledby="dropdownMenu3" col>
                  <button type="button" class="dropdown-item dropdown_item_my" id="new_subject">Новая тема</button>
                  @foreach (var item in ViewBag.AllSubjects) {
                    <button class="dropdown-item dropdown_item_my" onclick="setSubject(this)" type="submit" name="action" value="chooseSubject2">@item</button>
                  }
                </div>
                <input type="hidden" name="dropdownSubject" value="123" />
              </div>
            </div>
            <div class="row" id="add_input" style="display:none">
              <div class="form-group col">
                <label for="tpBdAnswer">Введите название темы</label>
                <input type="text" name="Subject" placeholder="Введите название темы"
                       class="form-control" id="DbNewSubject" autocomplete="off" />
              </div>
            </div>
            <div class="row">
              <div class="form-group col">
                <label for="toBdQuestion">Вопрос</label>
                <textarea id="toBdQuestion" name="Question" class="form-control" type="text"
                          placeholder="Текст вопроса">@ViewBag.Question</textarea>
              </div>
            </div>
            <div class="row">
              <div class="form-group col">
                <label for="tpBdAnswer">Правильный ответ</label>
                <input type="text" name="Answer" placeholder="Запишите текст правильного ответа здесь"
                       class="form-control" id="toBdAnswer" value="@ViewBag.Answer" autocomplete="off" />
                <input type="hidden" name="AskAmount" value="0" />
                <input type="hidden" name="RightAnsAmount" value="0" />
                <input type="hidden" name="LeadUp" value="0" />
              </div>
            </div>
            <div class="row">
              <div class="col @ViewBag.IsItRightAnswer" id="sendingResult">@ViewBag.SendingResult</div>
            </div>
            <div class="row">
              <button class="btn btn-block btn_my mx-3 mb-3" id="addToDB" type="submit" name="action" value="addDataToDB">Добавить в базу</button>
            </div>
            <div class="row">
              @Html.ActionLink("Добавить данные в БД файлом", "AddToDbFromFile", "Home", new { getModel = ViewBag.GetModel }, new { @class = "btn btn-block btn_my mx-3 mb-3k", id = "AddToDbFromFile" })
              @*<div class="btn btn-block btn_my mx-3 mb-3" id="AddToDbFromFile" onclick="location.href='/Home/AddToDbFromFile'">Добавить данные в БД файлом</div>*@
              @*@Html.ActionLink("Добавить вопросы в БД", "AddToDb", "Home", new { getModel = ViewBag.GetModel }, new { @class = "btn btn_my btn-block", id = "addToDB" })*@
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
@Scripts.Render("~/Scripts/MyScripts/MyIndex.js")
@Scripts.Render("~/Scripts/MyScripts/MyAddToDB.js")
