@* Model for this view is QuestionAnswer *@
@*строка ниже используется тогда, когда передаем с контролера не одну строку таблицы, а всю таблицу*@
@*model IEnumerable<FirstTryMVC5.Models.QuestionAnswer>*@
@*строка ниже используется тогда, когда передаем через контроле с базы данных только одну строку таблицы*@
@model FirstTryMVC5.Models.QuestionAnswer
@*<div class="container">
    <h3>Тeсты на знание основ С#</h3>
    <div>
      @{
        foreach (var line in ViewBag.QuestionAnswer) {
          <div>@line.Question</div>
        }
      }
    </div>
  </div>*@
@{
  ViewBag.Title = "Index";
}
<div class="container-fluid a_block">
  <div class="row align-items-center no-gutters">

    <div class="container">
      <div class="row justify-content-center">
        <div class="p-2 h3">Тесты на знание основ C#</div>
      </div>
    </div>
    <div class="container">
      @*@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { runat="server", DefaultButton="ChckBttn" })) {*@
      @using (Html.BeginForm("Index", "Home", FormMethod.Post)) {
        <div class="row border rounded">
          <div class="col-12">
            <div class="row justify-content-around my-3">
              <div class="col-8 col-sm-8 col-lg-5">
                <div class="row justify-content-center">
                  @*--------------------------------*@
                  @*<button class="btn btn_my btn-block">Выбрать тему</button>*@
                  @*@foreach (var item in ViewBag.AllSubjects) {
                      <p>@item</p>
                    }*@
                  <div class="dropdown btn-block">
                    <button class="btn btn-block btn_my dropdown-toggle" type="submit" name="action" value="chooseSubject" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      @ViewBag.Subject
                    </button>
                    <div class="dropdown-menu dropdown_my" aria-labelledby="dropdownMenu2">
                      @foreach (var item in ViewBag.AllSubjects) {
                        <button class="dropdown-item dropdown_item_my" onclick="setSubject(this)" type="submit" name="action" value="chooseSubject">@item</button>
                      }
                    </div>
                    <input type="hidden" name="dropdownSubject" value="123" />
                  </div>
                  @*-------------------------------*@
                </div>
              </div>
              <div class="col-3 col-sm-3 col-lg-5">
                <div class="row justify-content-center">
                  <button class="btn btn-block btn_my @ViewBag.DisabledAllSubjects" type="submit" name="action" value="allSubjects" @ViewBag.DisabledAllSubjects>Все темы</button>
                </div>
              </div>
            </div>
            @*<hr color="white" />*@
            <div class="row">
              <div class="col-12">
                <!--<form method="post">-->
                <div class="row">
                  <div class="col-7 border-right border-top border-bottom">
                    @*foreach (FirstTryMVC5.Models.QuestionAnswer Model in Model) {*@
                    <input type="hidden" name="Id" value="@Model.Id" />
                    <input type="hidden" name="LeadUp" value="@Model.LeadUp" />
                    <input type="hidden" name="Subject" value="@Model.Subject" />
                    <input type="hidden" name="allSubjectsOn" value="@ViewBag.AllSubjectsOn" />
                    <input type="hidden" name="questionAnswerListCount" value="@ViewBag.QuestionAnswerListCount" />
                    <input type="hidden" name="questionsLeft" value="@ViewBag.QuestionsLeft" />
                    <input type="hidden" name="rightAnswersCount" value="@ViewBag.RightAnswersCount" />
                    <div class="form-group">
                      <label for="question">Вопрос</label>
                      <textarea id="question" name="question" class="form-control" type="text" placeholder="Здесь появится вопрос" readonly>@Model.Question</textarea>
                    </div>
                    @*break;
                      }*@
                  </div>
                  <div class="col-5 border-top border-bottom">
                    <!-- <div class="row align-items-start"> -->
                    <div class="form-group">
                      <label for="answer">Ваш ответ</label>
                      <input type="text" name="answer" placeholder="Запишите ответ здесь"
                             class="form-control @ViewBag.IsItRightAnswer" id="answer" value="@ViewBag.UserAnswer" autocomplete="off" readonly onkeypress="pressedEnter(event)" @ViewBag.Autofocus />
                    </div>
                    <!-- </div> -->
                    <!-- <div class="row align-items-end"> -->
                    <div class="form-group">
                      <label for="right_unswer">Правильный ответ</label>
                      <textarea id="right_unswer" class="form-control" type="text"
                                placeholder="Здесь появится правильный ответ" style="height: 165px"
                                readonly>@ViewBag.RightAnswer</textarea>
                    </div>
                    <!-- </div> -->
                  </div>
                </div>
                <!--</form>-->
              </div>
            </div>
          </div>
          <div class="col-12 border-bottom">
            <div class="row my-3 ">
              <div class="col-6">
                <div class="row justify-content-center">
                  <button class="btn btn_my @ViewBag.DisabledCheck" type="submit" name="action" value="checkAnswer" id="checkAnswer" @ViewBag.DisabledCheck>Проверить</button>@*runat="server" id="ChckBttn"*@
                </div>
              </div>
              <div class="col-6">
                <div class="row justify-content-center">
                  <button class="btn btn_my @ViewBag.DisabledNext" type="submit" name="action" value="nextQuestion" id="nextQuestion" @ViewBag.DisabledNext>Следующий вопрос</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="row my-3">
              <div class="col-4">
                <div class="row">
                  <div class="col-12 text-center">Всего вопросов:</div>
                </div>
                <div class="row">
                  <div class="col-12 text-center">@ViewBag.QuestionAnswerListCount</div>
                </div>
              </div>
              <div class="col-4">
                <div class="row">
                  <div class="col-12 text-center">Осталось вопросов:</div>
                </div>
                <div class="row">
                  <div class="col-12 text-center">@ViewBag.QuestionsLeft</div>
                </div>
              </div>
              <div class="col-4">
                <div class="row">
                  <div class="col-12 text-center">Правильных ответов:</div>
                </div>
                <div class="row">
                  <div class="col-12 text-center">@ViewBag.RightAnswersCount</div>
                </div>
              </div>
              @*<div class="col-12 h-100 py-3">
                  <div class="col-12 py-3 h-100 border rounded"></div>
                </div>*@
            </div>
          </div>
        </div>
        <div class="row border rounded">
          <div class="col-12">
            <div class="row">
              <div class="btn btn_my btn-block" id="addToDB" onclick="location.href='/Home/AddToDb'">Добавить вопросы в БД</div>
              @*<div class="btn btn_my btn-block" id="addToDB" name="action" value="addToDB" href="/Home/AddToDb">Добавить вопросы в БД</div>*@
            </div>
          </div>
        </div>
        <div class="row border rounded">
          <div class="col-12">
            <div class="row">
              <button class="btn btn-block btn_my" id="testBut" type="submit" name="action" value="testBut">Test button(temporary)</button>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
@Scripts.Render("~/Scripts/MyScripts/MyIndex.js")
<script>
@*при нажатии на энтер в поле ввода ответа, будет нажиматься кнопка с id = ViewBag.EnterButton,
            крч будет нажата кнопка либо checkAnswer, либо nextQuestion*@
    ;
    function pressedEnter(event) {
      var keyCode = event.which || event.keyCode;
      if (keyCode == 13) {
        document.getElementById("@ViewBag.EnterButton").click();
      }
    }
    ;
</script>